<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="ticketTemplate.css">
{{#tickets}}
<html lang="en" style="height:100%;margin:0">

<body>
    <div class="ticket">
        <div class="aboveTicketDiv">
            <h4 class="orderNr">OrderNr: #{{../orderNr}}</h4>
            <div class="logoDiv">
                <h2 class="logo">LOGO</h2>
            </div>
        </div>


        <div class='ticketDiv'>
            <div class="headerDiv">
                <div class="titleDiv">
                    <h1 class="eventName">{{../eventInfo.name}}</h1>
                </div>
                <div class="organizationDiv">
                    <h2 class="organization skinny themeColor">{{../eventInfo.organization}}</h2>
                </div>
            </div>

            <div class="informationGrid">
                <div class="informationDiv">
                    <h3 class="informationTitle themeColor skinny">Location:</h3>
                    <h4 class="informationSub">{{../eventInfo.city}}, {{../eventInfo.country}}</h4>
                    <h4 class="informationSubSub skinny">{{../eventInfo.streetName}}</h4>
                </div>


                <div class="informationDiv">
                    <h3 class="informationTitle themeColor skinny">Attendee:</h3>
                    <h4 class="informationSub">{{this.ownerInfo.0.value}}</h4>
                    <h4 class="informationSubSub skinny">{{this.ownerInfo.1.value}}</h4>
                </div>
                <div></div>
                <div class="informationDiv">
                    <h3 class="informationTitle themeColor skinny">Dates:</h3>
                    <h4 class="informationSub">{{../eventInfo.dates}}</h4>
                    <div class="grid">
                        {{#../eventInfo.schedule}}
                        <h4 class="informationSubSub skinny">{{this}}</br></h4>
                        {{/../eventInfo.schedule}}
                    </div>

                </div>

                <div class="informationDiv">
                    <h3 class="informationTitle themeColor skinny">Ticket type:</h3>
                    <h4 class="informationSub">{{this.name}}</h4>
                    <h4 class="informationSubSub skinny">{{this.price}} $</h4>
                </div>

                <div></div>
            </div>


        </div>
        <div class="line"></div>

        <div class="termsDiv">
            <h1 class="termsTitle themeColor skinny">{{../chiroInfo.ticketTermsTitle}}</h1>
            <p class="termsText">{{../chiroInfo.ticketTermsText}}</p>
        </div>
    </div>



</body>

</html>

{{/tickets}}